body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    position: relative;
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    animation: fadeInRight 1s ease-out;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ddd;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
    animation: fadeInUp 1s ease-out;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .project {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
  }
  
  .project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .project p {
    color: #666;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .contact ul li{
    color:#0e0c0c;
  }

  .links{
    color:#0e0c0c;
    
    background-color: #333;

  }